/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Debug */
.links ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.links a {
    color: white;
}

/* Header */
.header {
    background-color: rgb(37, 103, 203);
    padding: 10px;
}

/* Container */
.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container {
    align-items: center;
    justify-content: space-between;
    display: flex;
}


.login {
    padding: 0 10px;
    color: black;
    background-color: white;
    border-radius: 15px;
    padding: 8px 15px;
}

/*Hero*/
.hero {
    background-color: rgb(37, 103, 203);
    background-image: url("../img/jumbo.png");
    background-size: cover;
}

.hero>.container {
    max-width: 100%;
    padding: 0 24px;
    min-height: 620px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-text {
    max-width: 800px;
    color: white;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text h1 {
    font-size: 56px;
}

.hero-text p {
    font-size: 18px;
    width: 640px;
    margin: 0 auto;
}

.hero-buttons {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.btn {
    padding: 8px 15px;
    font-weight: 700;
    text-align: center;
    border-radius: 15px;
}

.btn-white {
    background-color: white;
    color: black;
}

.btn-black {
    background-color: black;
    color: white;
}


/*Text image section*/
.flex {
    background-color: white;
    padding: 100px 0;
}

.flex>.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 300px;
    gap: 40px;
}

.azure-box {
    flex: 1.2;
    min-height: 300px;
}

.azure-box img {
    width: 100%;
    display: block;
}

.pink-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
}

.pink-box h2 {
    font-size: 48px;
    font-weight: 700;
    max-width: 320px;
    margin-bottom: 30px;
}

.pink-box p {
    font-size: 18px;
    max-width: 400px;
}

.flex-gray {
    background-color: #d5d3d3;
    padding: 100px 0;
}

.flex-gray>.container {
    display: flex;
    background-color: rgb(213, 211, 211);
    justify-content: space-between;
    align-items: stretch;
    gap: 40px;
    min-height: 300px;
    flex-direction: row-reverse;
}

.wave {
    display: block;
    width: 100%;
}

.wave-down {
    transform: rotate(180deg);
    width: 100%;
    display: block;
}
/*CTA section*/
.cta {
    background-color: rgb(213, 211, 211);
    padding: 30px 0;
}

.cta>.container {
    justify-content: center;
    align-items: center;
}

.green-box {
    background-color: green;
    width: 100%;
    min-height: 500px;
}

/*Footer*/
.footer {
    background-color: rgb(47, 47, 47);
    padding: 24px 0;
}

.footer>.container {
    display: flex;
    align-items: stretch;
    gap: 2px;
}

.f-col {
    flex: 1;
    min-height: 160px;
    background-color: rgb(7, 142, 129);
    width: 80%;
    min-height: 400px;
}

.f-wide {
    flex: 1.2;
    background-color: salmon;
    width: 20%;
    min-height: 400px;
}

/*Footer Bottom*/
.footer-bottom {
    padding: 10px 0;
    margin-top: 2px;
    background-color: rgb(47, 47, 47);
}

.footer-bottom>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(143, 255, 221);
    max-width: 1000px;
    padding: 20px 0;

}

.f-logo,
.bottom {
    background-color: pink;
    text-align: center;
    padding: 5px 5px;
}